#![enable(implicit_some)]
Container(
  transform: (
    id: "root",
    anchor: Middle,
    stretch: XY(x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: false),
  ),
  children: [
    Label(
      transform: (
          id: "fps",
          x: 40.,
          y: -16.,
          width: 200.,
          height: 25.,
          anchor: TopLeft,
          opaque: false,
      ),
      text: (
          text: "N/A",
          font: File("fonts/Eurostile-Reg.ttf", ("TTF", ())),
          font_size: 14.,
          color: (1.0, 1.0, 1.0, 1.0),
      )
    ),
    Container(
      transform: (
        id: "minimap_container",
        x: 0.0,
        y: 0.0,
        width: 128.0,
        height: 128.0,
        anchor: BottomLeft,
        pivot: BottomLeft,
      ),
      background: SolidColor(0.0, 0.0, 0.0, 1.0),
      children: [
        Image(
            transform: (
                id: "minimap_marker",
                x: 0.0,
                y: 0.0,
                width: 21.5,
                height: 16.796875,
                anchor: Middle,
                pivot: TopLeft,
            ),
            image: NineSlice(
                x_start: 0,
                y_start: 0,
                width: 128,
                height: 128,
                left_dist: 1,
                right_dist: 1,
                top_dist: 1,
                bottom_dist: 1,
                mouse_reactive: true,
                tex: File("texture/transparent_rectangle.png", ("IMAGE", ())),
                texture_dimensions: (128,128),
            ),
        ),
        Image(
          transform: (
            id: "minimap",
            x: 0.0,
            y: 0.0,
            mouse_reactive: true,
            anchor: Middle,
            pivot: Middle,
          ),
          image: SolidColor(1.0, 0.0, 0.0, 1.0), // placeholder
        ),
      ],
    )
  ]
)
